*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    background-color: #fafafa;
    font-family: Helvetica,sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex; 
    flex-grow: 1;
    align-items: center;
     /* padding: 180px; */
     justify-content: center;
}

.right{
    margin-left: 20px;
    margin-top: 80px;
}
.left{
    position: relative;
}
.left img{
    height: 450px;
}
 
#logo{
    width: 200px;
    margin: auto;
}
.panel-login{
    width: 350px;
    background-color: #fff;
    padding: 20px 40px;
    margin: 0 5px;
    border: 1px solid #dedede;
     border-radius: 2px;
     display: flex;
     flex-direction: column;
}


.input-box{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: 2px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-box::placeholder{
    color: #8a8a8a;
    font-size: 12px;
}
.input-box:focus{
    outline: none;
    border: 1px solid #8a8a8a;
}
.button{
    width: 100%;
    margin: 10px 0;
    padding: 7px 0;
    background-color: #b2dffc;
    border: none;
    border-radius: 2px;
    color: #fafafa;
    font-size: 15px;
}
.button:hover{
    background-color: rgb(65, 158, 245);
    cursor: pointer;
}
.divider{
    display: flex;
    width: 100%;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: bold;
    gap: 20px;
    align-items: center;
}

.line{
    flex: 1;
    height: 1px;
    background-color: #8a8a8a;
}

.fb{
    text-decoration: none;
    color: #3b5998;
    margin: 10px 10px 15px 40px;
    font-size: 16px;
    font-weight: 600;
}
.fb img{
    width: 30px;
}
.fb::before{
    font-size: 14px;
    margin-right: 5px;
}

.forgot{
    text-decoration: none;
    font-size: 14px;
    color: #000;
    text-align: center;

}
.panel-signup{
    width: 350px;
    background-color: #fff;
    padding: 20px 40px;
    margin: 10px 5px;
    border: 1px solid #dedede;
     border-radius: 2px;
    
}
.panel-signup a {
    text-decoration: none;
    color:  rgb(65, 158, 245);
    font-size: bold;
}

.apps{
     display: flex;
     flex-direction: column;
    width: 350px;
    padding: 20px 50px 0px 50px;
    /* margin-left: 50px; */
}
.apps p{
    text-align: center;
    padding-bottom: 15px;
    font-size: 18px ;
}
.appsstores img{
    display: flex;
    gap: 10px; 
    width: 120px;
    display: inline;
}
.appsstores img:hover{
    cursor: pointer;
}

footer{
    max-width: 35em;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    list-style: none;
    gap: 10px;
    margin: 20px 0;
}
li a{
    text-decoration: none;
    color: #8a8a8a
}